<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.shop.mapper.ShopCommentMapper">

    <select id="queryAvgRateOfShop" resultType="java.lang.Double" parameterType="java.lang.Long">
        SELECT AVG(rate) FROM `tb_shop_comments` where shop_id = #{shopId}
    </select>
</mapper>
